<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-bn4k6nd.Futbol_Bilgi.dbo" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
        <add name="Football_Club.Properties.Settings.Futbol_BilgiConnectionString"
            connectionString="Data Source=.;Initial Catalog=Futbol_Bilgi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="._Futbol_Bilgi_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
        <add name="._Futbol_Bilgi_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
        <add name="._Futbol_Bilgi_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
        <add name="._Futbol_Bilgi_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
        <add name="Taktik_Futbol_Bilgi_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Futbol_Bilgi" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
